.homeWrapper {
  display: flex;
}
.mainPoster {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  width: 300px;
  min-height: 200px;
  /* width: 70%;
  height: 70%; */
  box-shadow: inset 0 0 0 1px rgba(53, 86, 129, 0.4),
    inset 0 0 5px rgba(53, 86, 129, 0.5), inset -285px 0 35px white;
  border-radius: 0 10px 0 10px;
  padding: 15px;
  object-fit: cover;
}
.mainOverview {
  display: block;
  margin-top: 30px;
  max-width: 300px;
  background-color: rgba(53, 86, 129, 0.5);
  color: white;
  padding: 20px;
  border-radius: 4px;
  /* border: 5px 5px 0 0 solid black; */
}
.weekList {
  border-left: 2px solid #355681;
}
.starringTitle {
  font-family: "Franklin Gothic Medium";
  font-size: 20px;
  color: #355681;
}
.castModalWrapper {
  display: flex;
}
.castSpan:hover {
  cursor: pointer;
  color: coral;
}
.weekTrends {
  font-size: 30px;
}
.WeekFilmLinkElementContext{
  text-decoration: none;
  font-size: 18px;
}
.WeekFilmLinkElementContext:hover {
  color: coral;
}
