.NavLink {
  display: block;
  padding: 10px;
  color: darkblue;
}
.NavLinkActive {
  display: block;
  color: coral;
  border: 1px solid coral;
  border-radius: 4px;
}
.reviewElem {
  display: flex;  

}
